*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.grey-block{
    position: relative;
    width: 100vw;
    height: 100%;
    background: #333333;
}

.logo{
    width: 200px;
    cursor: pointer;
}

/* Navigation */
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(221, 221, 221);
    font-weight: bold;
}
nav ul li a:hover{
    color: orange;
}

/* Dropdown list */
dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    color:orange;
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {display: block;} /* Show the dropdown menu on hover */



.detel{
    margin-left: 8%;
    margin-top: 10%;
    float:left;
}
.detel h1{
    font-size: 50px;
    color: rgb(221, 221, 221);
    margin-bottom: 20px;
}
.detel p{
    color: rgb(221, 221, 221);
    line-height: 22px;
}
.detel p a{
    color:rgb(30, 125, 220);
}

span{
    color: orange;
}


/* BUTTONS */
.buttons a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.buttons a:hover {
    background: orange;
}

/* Images */
.headshot{
    width: 40%;
    float:right;
}
.headshot img{
    width: 80%;
    margin-top: 12%;
}
/* Links */
a {
    color:powderblue;
}




  




/* Research */
.research{
    position: relative;
    width: 100vw;
    height: 100%;
    background: #ececec;
    position: relative;
    min-height: 100vh;
}
.research-page{
    margin-left: 30%;
    margin-right: 30%;
    height: 100%;
}
.research h1{
    font-size: 40px;
    color: orange;
    padding-top: 30px;
    margin-bottom: 20px;
}
.research p{
    color: rgb(75, 75, 75);
    line-height: 22px;
}
.research h2{
    font-size: 25px;
    color: rgb(75, 75, 75);
    margin-bottom: 15px;
    margin-top: 40px;
    display:inline-block
}
.research h3{
    font-size: 20px;
    color: rgb(75, 75, 75);
    margin-bottom: 15px;
    margin-top: 15px;
}
.research a{
    color:rgb(12, 114, 216);
}
figure {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
figcaption {
    color: rgb(75, 75, 75);
    display: table-caption;
    caption-side: bottom;
    font-style: italic;
    text-align: left;
}
h3 {
    padding-top: 20px;
}


table {
    border-collapse: collapse;
}
th {
    background-color: #333333;
    color: white;
    padding:10px;
}
td {
    padding:10px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

/* Button for ADS link */
.ads {
    display: inline-block;
    padding-top: 45px;
    padding-left: 30px;
    float: right;
}
.ads a{
    background: #0771ae;
    padding: 7px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
}
.ads a:hover{
    background: #0771ae82;
}
.research-title{
    position: relative;
    width: 100%;
}
.research-title h2{
    display: inline-block;
    width: 85%;
}

hr {
    border: 1px dashed;
}

